@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-link {
  color: #8aa2d3;
}

.app-btn {
  width: calc(120px + 2vmin);
  height: calc(30px + 2vmin);
  font-size: calc(4px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}
